.Welcome {
  background-color: rgba(111, 200, 212, 0.83);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 100%;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;

}

.loginWrapper {
  width: 50%;
}

.btn {
  width: 160px;
  height: 70px;
  font-size: 1.5em;
  color: lightcyan;
  border: none;
  background-color: sandybrown;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  color: white;
  background-color: lightblue;
}
